

.profile__title {
    display: flex;
    justify-content: left;
    padding-left: 15rem;
    padding-top: 2rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.form-group_profile {
    display: flex;
    justify-content: left;
    padding-left: 15rem;
    padding-top: 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    
}
.form-group_profile2 {
    display: flex;
    justify-content: left;
    font-weight: bold;
    font-size: 1rem;
}

.input {
    width: 15%;
    justify-content: center;
    padding-left: .5rem;
}
.label {
    padding-right: 1rem;
}

.profile__buttons {
    display: flex;
    justify-content: left;
    padding-left: 15rem;
    padding-top: 2rem;
}

.profile__container {
    border-radius: 2rem;
    background-color: rgb(206, 236, 252);

}

.label__genreSelect {
    justify-content: left;
    padding-left: 15rem;
    padding-top: 1rem;
}

.btn-submit {
    padding-top: 2rem;
    width: 50%
}

.success_button {
    width: 15%;
    padding-top: 2rem;
    padding-left: 15rem;
}


.genre__profile_container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-weight: bold;
    padding-left: 15rem;
    padding-top: 2rem;
    font-size: 1rem;
}


