.library {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 300px;
    text-align: center;
}

.library__title {
    font-weight: bold;
    font-size: 1.3rem;
}

.library__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10rem;
    border-style: outset;
    background-color: rgb(182, 252, 209);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.button__library {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 2rem
}

.titlePage {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.8rem;
}

.button__style_1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

