.library {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 300px;
    text-align: center;
}

.library__title {
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: 1rem
}

.library__author {
    padding-bottom: 1rem;
}

.library__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid white;
    border-radius: 2rem;
    background-color: rgb(203, 224, 235);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.button__container {
    width: 15%;
    padding-left: 30rem;
    display: flex;
    flex-direction: row;
}

.addButton {
    width: 50%
}

.home_button {
    display:flex;
    padding: 1rem;
}

.titlePage {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.8rem;
}

.button__style_1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#homeB {
    background-image: linear-gradient(-180deg, #4e2c5f, #9e8da9);
}

#homeB:hover {
    background: rgb(146, 64, 146);
}


