@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@1,200&family=Water+Brush&display=swap');

/* --- form --- */

.recForm__title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 2rem;
}

.recForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid white;
    border-radius: 10rem;
    border-style: outset;
    background-color: rgb(206, 236, 252);
}

.form-group_1 {
    display: flex;
    justify-content: center;

}

.form-control {
    width: 42%;
    height: 25%;
    font-family: 'Urbanist', sans-serif;
    color: #224e6a;
    font-size: 1.3rem;
    

}

.form-group_2 {
   display: flex;
   justify-content: center;
}

.form-group_3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 10rem;
    margin: 10px;
    
}

/* --- genres --- */

.book__genre {
    display: flex;
    justify-content: center;
    font-style: bold;
    font-size: 1.5rem;
    padding-right: 4rem;
}


.book__title {
    font-style: bold;
    font-size: 1.5rem;
    padding-right: 2rem;
}

.book__author {

    font-style: bold;
    font-size: 1.5rem;
    padding-right: .75rem


}
/* --- buttons --- */

.button__container__recForm {
    display: flex;
    padding-left: 1rem;
    height: 10%;  
}

.button__container__Library {
    padding-left: 1rem;
}

