.bookContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
}

.button_List {
    display:flex;
    padding: 1rem;
}
.titlePage {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.9rem;
    padding-top: 5rem
}
.selectedBooks{
    text-align: center;
    margin: 3.8rem

}
.delete__button{

    display:flex;
    padding: 1rem;

}

.buttonListContainer {

    width: 15%;
    padding-left: 38rem;
    display: flex;
    flex-direction: row;

}

#buttonListB {
    background-image: linear-gradient(-180deg, #4e2c5f, #9e8da9);
}

#buttonListB:hover {
    background: rgb(146, 64, 146);
}

#listB {
    background-image: linear-gradient(-180deg, #4e2c5f, #9e8da9);
}

#listB:hover {
    background: rgb(146, 64, 146);
}