@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


body {
  margin: 30px;
  font-family: 'Muli', sans-serif;
  background-color: rgb(199, 240, 251);
}

button {
  display: flex;
  background-color: rgb(240, 250, 253);
  color: black;
  font-family: 'Muli', sans-serif;
  border-style: outset;
  border-radius: 12px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
