@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@1,200&family=Water+Brush&display=swap');



.navbar {
    display: flex;
    flex-direction: row;

}


.navbar__item {
    padding-top: .25rem;
    padding-left: 4rem;

}

.logout__ {
    padding-left: 20rem;
}

.logoImg {
    padding-left: 10rem;
}

.navBar_item_container {
    display: flex;
    flex-direction: row;
    padding-left: 5rem;
}


.logo__navbar__title {
    padding-left: 1rem;
    padding-top: .25rem;
    font-size: 1.3rem;

}

/* .navbar__logout {
    
} */

.navbar__link {
    font-family: 'Urbanist', sans-serif;
    font-style: bold;
    color: #224e6a;
    font-size: 1.3rem;
    font-style: bold;
    text-decoration: none;
}

.navbar__link:hover {
    text-decoration: underline;
    font-weight: bold;
   }
