@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@1,200&family=Water+Brush&display=swap');



.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar__item {
    flex-basis: 5%;
    list-style-type: none;

}
.logo__navbar {
    display: flex;
}

.logo__navbar__title {
    padding-left: 1rem;
    padding-top: .5rem;
    font-size: 1.8rem;

}

/* .navbar__logout {
    
} */

.navbar__link {
    font-family: 'Urbanist', sans-serif;
    font-style: bold;
    color: #224e6a;
    font-size: 1.2rem;
    font-style: bold;
    text-decoration: none;
}

.navbar__link:hover {
    background: #0084bd;
    color: #FFFFFF;
    border-radius: 2rem;
    padding: .3rem;
}
